<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- mycp CSS 文件 -->
<link rel="stylesheet" href="/static/css/mycp.css">
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- mycp JS 文件 -->
<script src="/static/js/mycp.js"></script>

<title>管理后台</title>
</head>
<body>
{include file="common:head" /}
<!-- main-container begin -->
<div class="container-fluid" id="main-container">
    {include file="common:left" /}
    <!-- 右主框 main-content begin -->
    <div class="main-content"  >
        <!-- breadcrumbs begin -->
        <div class="breadcrumbs">  
        </div>
        <!-- breadcrumbs end -->
        <!-- page-content begin -->
        <div class="page-content" id="content">
            <ul class="nav nav-tabs nav_tit tou" >       
                 <a href="/index.php/manager/Logistics/distributionlst"  style="font-weight:bold;">返回配送方式列表</a>
                 <a href="/index.php/manager/Logistics/distribution/shipping_com_id/{$shipping_com_id}"  style="float:right;font-weight:bold;">添加配送区域</a>
            </ul>     
                 <table class="table table-hover table-bordered" style="border: none;" >
                <thead>
                    <tr style="border-top:1px solid #ccc">
                       <th>配送名称</th>
                       <th>配送描述</th>
                       <th>所在地区</th>
                              <th  style="width:220px">操作</th>
                    </tr>
                </thead>
                {volist name="res" id="vo"}
                        <tr> 
                        <th>{$vo.shipping_name}</th>
                        <th>{$vo.shipping_des}</th>        
                        <th>
                            {volist name="vo" id="vo2" key='k' }
                                <?php if(is_array($vo2)){
                                    echo $vo2['name']."&nbsp&nbsp&nbsp&nbsp";
                                }?>
                            {/volist}                        
                        </th>        
                        <th >
                        <a href="/index.php/manager/logistics/distributionEdit/id/{$vo.shipping_id}">编辑</a>
                        <a onclick="return confirm('你确定要删除吗？')"  href="/index.php/manager/logistics/regiondel/shipping_id/{$vo.shipping_id}" 

style="cursor: pointer;">删除</a>        
                        </th>
                        {/volist}

            </table>
<table class="table"   >
 <tr   ><td style="text-align: center;border-top: none;  "></td></tr>
      </table>
        <!-- page-content end -->
   
    <!-- main-content end -->
</div> </div>
<!-- main-container end --> </div>

</body>
<!--价格验证-->
<script type="text/javascript">
    // var record={
    //     num:""
    // }
    // var checkDecimal=function(n){
    //     var decimalReg=/^\d{0,8}\.{0,1}(\d{1,2})?$/;
    //     // var decimalReg=/^[-\+]?\d{0,8}\.{0,1}(\d{1,2})?$/;
    //     if(n.value!=""&&decimalReg.test(n.value))
    //     {
    //         record.num=n.value;
    //     }else
    //     {
    //         if(n.value!="")
    //         {
    //             n.value=record.num;
    //         }
    //     }
        
    // }
</script>
<script type="text/javascript">
// function checkSubmit(){
//     var name=myform.goods_name.value;
//     var price=myform.shop_price.value;
//     var weight=myform.weight.value;
//     var stock=myform.stock.value;
//     var parent=myform.parent_id.value;
//     var cate=myform.cate_id.value;
//     var img1 = $("#preview").find("img").length ; console.log(img1);
//     var img2 = $("#preview2").find("img").length ;console.log(img2);
//     var img3 = $("#preview3").find("img").length ;console.log(img3);

    
//     if (name == '') {
//         document.getElementById('error_msg').innerHTML="<font>名称必须填写</font>";
//         return false;
//     }
//     if (name.length<2) {
//         document.getElementById('error_msg').innerHTML="<font>名称必须大于两个字符</font>";
//         return false;
//     }
//     if (parent==0 || cate==0) {
//         document.getElementById('error_msg').innerHTML="<font>请选择商品父分类与子分类</font>";
//         return false;
//     }
//     if (price <= 0) {
//         document.getElementById('error_msg').innerHTML="<font>价格必须大于0</font>";
//         return false;
//     }
//     regs=/^([\u4E00-\u9FA5]+，?)+$/;
//     if (!regs.test(weight)) {
//         document.getElementById('error_msg').innerHTML="<font>请填写单位为中文</font>";
//         return false;
//     }
//     if (weight == '') {
//         document.getElementById('error_msg').innerHTML="<font>请填写单位</font>";
//         return false;
//     }
//     if (!img1||!img2||!img3) {
//         document.getElementById('error_msg').innerHTML="<font>请上传三张图片</font>";
//         return false;
//     }
//     reg=/^[0-9]*[1-9][0-9]*$/;
//     if (!reg.test(stock)) {
//         document.getElementById('error_msg').innerHTML="<font>库存限制为正整数</font>";
//         return false;
//     }
//     if (stock <= 0) {
//         document.getElementById('error_msg').innerHTML="<font>库存必须大于0</font>";
//         return false;
//     }


//     myform.submit();
}
</script>
<script type="text/javascript">

$('#create_timestamp').datetimepicker({
  minView: "month",
    language:  'zh-CN',
    format: 'yyyy-mm-dd'
});
</script>
</html>    