<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>无标题文档</title>
<link href="/static/css/zhuantai.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="da">
		<div class="biankuang">
			<div class="tupian">
				<img src="/static/images/XXXX.png" class="guanbi" alt="" width="20"height="20"><br/>
				<img src="/static/images/jm-015.png" width="80" height="80">
				<p>该邀请码未注册<br/>请输入正确号码或不填</p>
			</div>
		</div>
	</div>
</body>
<script>setTimeout("history.back()",2000)</script>
</html>