<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>积分兑换</title>
<link href="/static/css/jifenduihuan.css" rel="stylesheet" type="text/css"/>
</head>
<body style="background: #fff; overflow:auto;">
<div class="zhuti">
	<div class="toubu">
		<div class="banner"><img src="/static/images/lb2.png" alt="" /></div>
		<div class="logo">
			<div style="width:94%; margin:0 auto;">
				<div class="tu_left"><img src="/static/images/jm-001.png" width="100" height="24" /></div>
				<div class="tu_right"><img src="/static/images/jm-002.png" width="52" height="26" /></div>
			</div>
		</div>	
	</div>
	<div class="huise"></div>
	<div class="neirong">
		<div class="top">
			<div class="top_left">
				<img src="/static/images/jm-010.png"/>
			</div>
			<div class="top_right">
				<h2>中国移动50元流量包</h2>
				<p class="blue">50积分/次</p>
				<p>库存：231</p>
				<p>下架：2019.09.01 12:00</p>
				<span class="tijiao"><a href="">兑换</a></span>
			</div>
		</div>
		<div class="top">
			<div class="top_left">
				<img src="/static/images/jm-011.png"/>
			</div>
			<div class="top_right">
				<h2>中国移动50元流量包</h2>
				<p class="blue">50积分/次</p>
				<p>库存：231</p>
				<p>下架：2019.09.01 12:00</p>
				<span class="tijiao"><a href="">兑换</a></span>
			</div>
		</div>
		<div class="top">
			<div class="top_left">
				<img src="/static/images/jm-012.png"/>
			</div>
			<div class="top_right">
				<h2>中国移动50元流量包</h2>
				<p class="blue">50积分/次</p>
				<p>库存：231</p>
				<p>下架：2019.09.01 12:00</p>
				<span class="tijiao"><a href="">兑换</a></span>
			</div>
		</div>
	</div>
</div>


</body>
</html>