<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>无标题文档</title>
<link href="/static/css/yidong.css" rel="stylesheet" type="text/css"/>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/yidong.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
</head>
<body style="background: #fff;">
	<div class="ba">
		<div class="toubu">
			<div style="width:94%; margin:0 auto;">
				<div class="tu_left"><img src="/static/images/jm-001.png" width="100" height="24" /></div>
				<div class="tu_right"><img src="/static/images/jm-002.png" width="52" height="26" /></div>
			</div>
		</div>
		<div class="huise"></div>
		<div class="zhuti">
			<div class="tu">
				<img src="/static/images/jm-010.png"/>
			</div>
			<div class="content">
				<h1>中国移动50元流量包</h1>
				<p>库存：2321</p>
				<p>下架：2017-09-10 12:00</p>
				<p>说明：本商品由中国移动公司提供产品仅支付移动LTD4G网络模式无捆绑资费套餐</p>
				<p id="ji">积分：<span class="jifen">50积分/次</span> 
					<ul class="fenye">
						<li class="jian"><a href="#">-</a></li>
						<li class="yema">1</li>
						<li class="jia"><a href="#">+</a></li>
					</ul>
				</p>
				<p class="shenqing"><input type="submit" value="申请兑换" class="tijiao"></p>
			</div>
		</div>
	</div>
</body>
</html>