<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- mycp CSS 文件 -->
<link rel="stylesheet" href="/static/css/mycp.css">
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- datetimepicker css JS 文件 -->
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<!-- mycp JS 文件 -->
<script src="/static/js/mycp.js"></script>

<title>后台管理系统</title>
</head>
<style type="text/css">
    form p span{
        display: block;
        width: 100px;
        float: left;
        height: 35px;
        line-height: 35px;
    }
    form p{
        margin-left: 30px;
        margin-top: 20px;
    }
    form .p1 input{
        margin-left: 20px;
        width: 300px;
        height: 35px;
    }
</style>
<body>
{include file="common:head" /}
<!-- main-container begin -->
<div class="container-fluid" id="main-container">
    {include file="common:left" /}
    <!-- 右主框 main-content begin -->
    <div class="main-content"  >
        <!-- breadcrumbs begin -->
        <div class="breadcrumbs">  
        </div>
        <!-- breadcrumbs end -->
        <!-- page-content begin -->
        <div class="page-content" id="content">
            <ul class="nav nav-tabs nav_tit">                          
              <li  ><a href='#' style="font-size: 20px;font-weight:600;">查看/编辑 外链活动</a></li>
            </ul>     
            <form name="from"   method="post" action="" enctype="multipart/form-data"  style="background-color: rgba(113, 22, 22, 0);">
                <?php if(isset($list)){?><p class="p1"><span>任务编号：</span><input disabled='disabled' type="text" value="<?php if(isset($list)){echo $list['id'];}?>"></p><?php }?>
                <p><span>活动开关：</span><input type="radio" name="status" value="1" style="margin-left:20px;"  <?php if(isset($list)){echo $list['status'] ? 'checked':'null';}?>>&nbsp;&nbsp;开启
                <input type="radio" name="status" value="0" style="margin-left:90px;"  <?php if(isset($list)){echo $list['status'] ? 'null':'checked';}?>>&nbsp;&nbsp;关闭<p>
                <p class="p1"><span>活动名称：</span><input name="name" type="text" value="<?php if(isset($list)){echo $list['name'];}?>"></p>
                <p class="p1"><span>活动页面外链：</span><input name="url" type="text"  value="<?php if(isset($list)){echo $list['url'];}?>"></p>
                <p class="p1"><span>活动主图：</span>
                <?php if(isset($list['img'])){?>
                <img src="<?php if(isset($list)){echo $list['img'];}?>" style="width:100px;height:100px;">
                <?php }?>
                <input type="hidden" id="txt" name=""> 
                <input type="button" onmousemove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="上传" size="30" onclick="f.click()" style="color:white;background:#85c226;border:none;width:70px;height:30px;"> 
			    <input type="file" id="f" onchange="txt.value=this.value" name="qrcode" style="position:absolute;filter:alpha(opacity=0);display:none;" size="1" hidefocus>
                </p>
                <p class="p1"><span>活动说明：</span>
                <textarea rows=5 cols=50 name="info"><?php if(isset($list)){echo $list['info'];}?></textarea>
                <p><span>活动起止时间：</span><input  id="start_time" name="begin_time" value="<?php if(isset($list)){echo date('Y-m-d H:i',$list['begin_time']);}?>" type="text" style="width:140px;height:35px;margin-left:20px;margin-right:23px;">到
                <input id="end_time" name="end_time" value="<?php if(isset($list)){echo date('Y-m-d H:i',$list['end_time']);}?>" type="text" style="width:140px;height:35px;margin-left:22px;"></p>
                <p><span>关注用户参与：</span><input type="radio" name="attention" value="1" style="margin-left:20px;" <?php if(isset($list)){echo $list['attention'] ? 'checked':'none';}?>>&nbsp;&nbsp;
                	必须关注后参与<input type="radio" name="attention" value="0" style="margin-left:20px;" <?php if(isset($list)){echo $list['attention'] ? 'none':'checked';}?>>&nbsp;&nbsp;未关注可参与<p>
                <p><span>注册用户参与：</span><input type="radio" name="reg" value="1" style="margin-left:20px;" <?php if(isset($list)){echo $list['reg'] ?'checked': null;}?>>&nbsp;&nbsp;
                	必须注册后参与<input type="radio" name="reg" value="0" style="margin-left:20px;" <?php if(isset($list)){echo $list['reg'] ? 'none':'checked';}?>>&nbsp;&nbsp;未注册可参与<p>
                <p class="p1"><span>赠送积分/次：</span><input name="point" type="text"  value="<?php if(isset($list)){echo $list['point'];}?>"></p>
                <p><span>限制参与次数：</span><input type="radio" name="num" onclick="clearvalue()" value="" style="margin-left:20px;" <?php if(isset($list)){echo $list['limit_times'] ? null:'checked';}?>>&nbsp;不限次数
                <input type="radio" onclick="addvalue()" name="num" value="" style="margin-left:65px;" <?php if(isset($list)){echo $list['limit_times'] ? 'checked': null ;}?>>&nbsp;
                	限制次数<input class="" id="clear" name="limit_times" type="text" <?php if(isset($list['limit_times'])){echo $list['limit_times'] ? null : "hidden";}?> style="width:90px;height:35px;" value="<?php if(isset($list['limit_times'])){echo $list['limit_times'];}?>"><p>
                <p class="p1"><span>获赠积分次数：</span><input name="limit_give" type="text" value="<?php if(isset($list['limit_give'])){echo $list['limit_give'];}?>"></p>
                <p class="p1"><span>限制参与人数：</span><input name="limit_num" type="text" value="<?php if(isset($list['limit_num'])){echo $list['limit_num'];}?>"></p>
                <p><button type="submit" class="btn btn-submit" style="width: 100px;margin-left:120px;margin-right:50px;background:#0093dd;">确定</button> &nbsp;&nbsp;&nbsp;<button type="button"   class="btn btn-cancel" style="width: 100px" onclick="javascript:history.go(-1);"> 取消</button></p>
            </form>
        <!-- page-content end -->
   
    <!-- main-content end -->
</div> </div>
<!-- main-container end --> </div>

</body>
<script type="text/javascript">
$('#start_time').datetimepicker({
  minView: "0",
    language:  'zh-CN',
    format: 'yyyy-mm-dd  hh:ii'
});  
$('#end_time').datetimepicker({
  minView: "0",
    language:  'zh-CN',
    format: 'yyyy-mm-dd  hh:ii'
}); 
function clearvalue(){
	$("#clear").hide();
	$("#clear").attr("value","0");
}
function addvalue(){
	
	$("#clear").show();
}
</script>
</html>