<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- mycp CSS 文件 -->
<link rel="stylesheet" href="/static/css/mycp.css">
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- 百度编辑器 核心 JavaScript 文件 -->
<script type="text/javascript" charset="utf-8" src="/static/js/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/static/js/zh-cn.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<!-- mycp JS 文件 -->
<script src="/static/js/mycp.js"></script>
<!-- datetimepicker css JS 文件 -->
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="jquery.js"></script>

<link rel="stylesheet" type="text/css" href="/static/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/diyUpload/css/diyUpload.css">
<script type="text/javascript" src="/static/diyUpload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/static/diyUpload/js/diyUpload.js"></script>
<style>
        .dingwei{position: relative;}
        #preview {width: 150px;float:left;height:150px;border:1px solid gray;background:url(/static/images/grzl_2.jpg);background-size:150px 150px;background-repeat:no-repeat;
            overflow: hidden;margin: 30px 20px; 
        }
        #preview2 {width: 150px;float:left;height:150px;border:1px solid gray;background:url(/static/images/grzl_2.jpg);background-size:150px 150px;background-repeat:no-repeat;
            overflow: hidden;margin: 30px 20px; 
        }
        #preview3 {width: 150px;float:left;height:150px;border:1px solid gray;background:url(/static/images/grzl_2.jpg);background-size:150px 150px;background-repeat:no-repeat;
            overflow: hidden;margin: 30px 20px; 
        }

        #preview img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 10;
        }        
        #preview2 img {
            width: 100%;
            height: 100%;
            z-index: 99999999;
        }
        #preview3 img {
            width: 100%;
            height: 100%;
            z-index: 99999999;
        }
        
    </style>    

<title>管理后台</title>
</head>
<body>
{include file="common:head" /}
<!-- main-container begin -->
<div class="container-fluid" id="main-container">
    {include file="common:left" /}
    <!-- 右主框 main-content begin -->
    <div class="main-content"  >
        <!-- breadcrumbs begin -->
        <div class="breadcrumbs">  
        </div>
        <!-- breadcrumbs end -->
        <!-- page-content begin -->
        <div class="page-content" id="content">
            <ul class="nav nav-tabs nav_tit tou">
            
                 <a href="#" style="font-size: 20px;font-weight:600;">修改图文</a>
                

            </ul>     
        <form action="" method="post" enctype="multipart/form-data" name="myform"   >
              
     <table width="900px" border="0" cellspacing="10" >
    <tr>
    <th width="200px" style="text-align: center;">文章标题：</th>
    <th   align="left">   <input type="hidden" name="artid"  value="{$list.artid}" >
      <input type="text" maxlength="20"  placeholder="文章标题2-20个字之间"  name="title" value="{$list.title}" class="form-control"     style="width: 300px;resize: none;margin: 10px 0px;width: 300px; float:left" ><span id='name' style="float:left;"></span>
     </th>
  </tr>
  <tr>
    <th width="200px" style="text-align: center;">关键词：</th>
   
    <th>     
        <input type="text"  maxlength="100"  name="keyword" class="form-control" id="weight"  value="{$list.keyword}"  style="width: 300px;resize: none;margin: 10px 0px;width: 300px" >
     </th>
        
    </th>
    
  </tr>  
   
  <tr>
    <th width="200px" style="text-align: center;">外部链接：</th>
    <th   align="left">  
      <input type="text"  maxlength="500" value="{$list.jumplink}"  name="jumplink" class="form-control"     style="width: 300px;resize: none;margin: 10px 0px;width: 300px; float:left;" >
     </th>
  </tr>
  <tr>
    <th width="200px" style="text-align: center;">图文：</th>
    <th   align="left" class="dingwei">
    <input type="file" name="image"  style="width: 150px; height:150px;resize: none; color:#ccc;position: absolute;left:20px;top:30px;opacity:0;filter:alpha(opacity=0); z-index: 9999;" class="one"/>  
    <div id="preview" >
    <img src="{$list.pic}"  />
    </div> 
     </th> 
    </tr>  

  <tr>
    <th width="200px" style="text-align: center;">图文消息描述：</th>
    <th   align="left"> 
      <textarea name="description" class="form-control" style="width:600px;height:100px;">  {$list.description}  </textarea>
     </th>
  </tr>

  
 
  
    
 <tr>
    <th width="200px" style="text-align: center;">文章编辑：</th>
    <th   align="left">  
    <div>
     
    <script id="editor" type="text/plain" name='content' style="width:700px;height:500px;">{$list.content} </script>
</div>

 
    
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
</script>
     </th>
  </tr>  
 
   
  <tr style="text-align: center;
    height: 70px;">
    <td colspan="2"><button type="submit" class="btn btn-default"   style="width: 100px">修改</button><span style="color:red" id="error_msg"></span> </td> 
  </tr>
</table></form> 
        <!-- page-content end -->
   
    <!-- main-content end -->
</div> </div>
<!-- main-container end --> </div>

</body>
 
     <script type="text/javascript">
            function preview1(file) {
                var img = new Image(), url = img.src = URL.createObjectURL(file)
                var $img = $(img)
                img.onload = function() {
                    URL.revokeObjectURL(url)
                    $('#preview').empty().append($img)
                }
            }
            function preview2(file) {
                var reader = new FileReader()
                reader.onload = function(e) {
                    var $img = $('<img>').attr("src", e.target.result)
                    $('#preview').empty().append($img)
                }
                reader.readAsDataURL(file)
            }
             
            $(function() {
                $('.one').change(function(e) {
                    var file = e.target.files[0]
                    preview1(file)
                })
            })
            
        </script>  
</html>    