<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>无标题文档</title>
    <link href="/static/css/zhuantai.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="da">
    <div class="biankuang">
        <div class="tupian">
            <img src="/static/images/XXXX.png" class="guanbi" alt="" width="20" height="20"><br/>
            <img src="/static/images/jm-008.png" width="80" height="80">
            <p>注册信息提交成功</p>
        </div>
    </div>
</div>
</body>
<script>
    setTimeout(function () {
        location.href = "http://www.jiangmen.com/index.php/wap/index/aa";
    }, 2000);</script>
</html>