<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- mycp CSS 文件 -->
	<link rel="stylesheet" href="/static/css/mycp.css">
	<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- mycp JS 文件 -->
	<script src="/static/js/mycp.js"></script>
	<title>管理后台</title>
</head>
<body>
	{include file="common:head" /}
	<!-- main-container begin -->
	<div class="container-fluid" id="main-container">
		{include file="common:left" /}
		<!-- 右主框 main-content begin -->
		<div class="main-content"  >
			<!-- breadcrumbs begin -->
			<!-- breadcrumbs end -->
			<!-- page-content begin -->
			<div class="page-content" id="content">
				<ul class="nav nav-tabs nav_tit tou" >       
					<a href="#"  style="font-size: 20px;font-weight:600;">会员列表</a>
				</ul>     
				<form name="from1"  method="get" action="" style="background-color: rgba(113, 22, 22, 0); margin-top:-8px">
				    会员昵称 
					<input type="text" name="nickname" value="{$nickname}" class="form-control" style="width: 150px;display:inline-block; margin:10px 0"    >&nbsp;&nbsp; &nbsp; 
				    用户身份
					<input type="text" name="member_type" value="{$member_type}" class="form-control" style="width: 150px;display:inline-block; margin:20px 0"    >&nbsp;&nbsp; &nbsp; 
				    <input type="submit" class="btn btn-search" style="border:none;margin-top:3px"   value="搜索" > 
				</form>
				<table class="table table-hover table-bordered" style="border: none;text-align:center" >
					<thead>
						<tr style="border-top:1px solid #ccc; ">
						    <th>会员昵称</th>
						    <th>头像</th>
						    <th>手机号</th>
						    <th style="width:100px">邀请人数</th>
						    <th >用户身份</th>
						    <th>加入时间</th>
							<th >操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="lst" id="vo" key="k"}
						<tr> 
							<th>{$vo.nickname}</th>
							<th><img src="{$vo.face}" style="width:50px; height:50px"/></th>
							<th>{$vo.moblie}</th>
							<th id="th1"><a href="/index.php/manager/Member/memberRelation/id/{$vo.uid}">{$lst2[$k-1]}</a></th>
							{switch name="vo.member_type"}
								{case value="1"}<th>普通</th>{/case}
								{case value="2"}<th>代理</th>{/case}
								{case value="0"}<th>游客</th>{/case}
							{/switch}
							<th>{$vo.create_time|date="Y-m-d H:i",###}</th>             
							<th ><a href="/index.php/manager/Member/membermanagement/id/{$vo.uid}">编辑</a>
							<a onclick="return confirm('你确定要删除吗？')"  href="/index.php/manager/Member/memberDel/id/{$vo.uid}" style="cursor: pointer;">删除</a></th>
						</tr>
						{/volist}
					</tbody>
				</table>
				<div><center>{$lst->render()}</center></div>
			    <!-- page-content end -->
		        <!-- main-content end -->
		    </div> 
		</div>
	 <!-- main-container end --> 
	</div>
</body>

<script type="text/javascript">
// function checkSubmit(){
//     var name=myform.goods_name.value;
//     var price=myform.shop_price.value;
//     var weight=myform.weight.value;
//     var stock=myform.stock.value;
//     var parent=myform.parent_id.value;
//     var cate=myform.cate_id.value;
//     var img1 = $("#preview").find("img").length ; console.log(img1);
//     var img2 = $("#preview2").find("img").length ;console.log(img2);
//     var img3 = $("#preview3").find("img").length ;console.log(img3);

    
//     if (name == '') {
//         document.getElementById('error_msg').innerHTML="<font>名称必须填写</font>";
//         return false;
//     }
//     if (name.length<2) {
//         document.getElementById('error_msg').innerHTML="<font>名称必须大于两个字符</font>";
//         return false;
//     }
//     if (parent==0 || cate==0) {
//         document.getElementById('error_msg').innerHTML="<font>请选择商品父分类与子分类</font>";
//         return false;
//     }
//     if (price <= 0) {
//         document.getElementById('error_msg').innerHTML="<font>价格必须大于0</font>";
//         return false;
//     }
//     regs=/^([\u4E00-\u9FA5]+，?)+$/;
//     if (!regs.test(weight)) {
//         document.getElementById('error_msg').innerHTML="<font>请填写单位为中文</font>";
//         return false;
//     }
//     if (weight == '') {
//         document.getElementById('error_msg').innerHTML="<font>请填写单位</font>";
//         return false;
//     }
//     if (!img1||!img2||!img3) {
//         document.getElementById('error_msg').innerHTML="<font>请上传三张图片</font>";
//         return false;
//     }
//     reg=/^[0-9]*[1-9][0-9]*$/;
//     if (!reg.test(stock)) {
//         document.getElementById('error_msg').innerHTML="<font>库存限制为正整数</font>";
//         return false;
//     }
//     if (stock <= 0) {
//         document.getElementById('error_msg').innerHTML="<font>库存必须大于0</font>";
//         return false;
//     }


//     myform.submit();
}
</script>
<script type="text/javascript">
	$('#create_timestamp').datetimepicker({
	  minView: "month",
		language:  'zh-CN',
		format: 'yyyy-mm-dd'
	});
</script>
</html>    