<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- mycp CSS 文件 -->
<link rel="stylesheet" href="/static/css/mycp.css">
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- mycp JS 文件 -->
<script src="/static/js/mycp.js"></script>

<title>后台管理系统</title>
</head>
<body>
{include file="common:head" /}
<!-- main-container begin -->
<div class="container-fluid" id="main-container">
    {include file="common:left" /}
    <div style="margin-left:215px; margin-top:20px; margin-right:10px">
           <div style="border-bottom:1px solid #ccc; height:40px">
                   <li style="font-size: 20px;font-weight:600;color:#585858;list-style:none;"> 自定义菜单</li>
                  
           </div>
           <div style="clear:both"></div>
           <div>
                    <form action="/index.php/manager/systemset/menu" method="post" enctype="multipart/form-data" name="form1"  style="margin-top:-10px"> </br>
                     <input type="submit"  formaction="/index.php/manager/systemset/menuadd" class="btn btn-search" style="border:none;" value="添加菜单">  
                     <input type="submit" formaction="/index.php/manager/systemset/menushengcheng" class="btn btn-search" style="border:none;" value="生成菜单">  </form> 
                    <table class="table table-hover table-bordered" style="border: none;" >
                <thead>
                    <tr style="border-top:1px solid #ccc">
                     <th align="center">显示顺序</th>
                        <th>主菜单名称</th>
                        <th>关键词</th>                       
                        <th>活动链接</th>
                        <th>操作</th>  
                    </tr>
                </thead>
               
                    <tbody>
                         {volist name="list" id="i"}
             
                    <th  > {$i.sort}</th>
                         <th  > {$i.prefix}{$i.prefix}{$i.title}</th>
                           
                           <th  > {$i.keyword}</th>
                                 <th  ><?php echo mb_substr($i['url'],0,50,'utf-8');?></th>
                                      
                    <th  > <a href="/index.php/manager/systemset/menuupd/id/{$i.id}" style="cursor: pointer;text-decoration:none;">修改 </a>  
                    <a href="/index.php/manager/systemset/menudel/id/{$i.id}/keyword/{$i.keyword}" style="cursor: pointer;text-decoration:none;">删除 </a>  
                       </th>
                </tr>
                {/volist}
                     </tbody>
            </table>
<table class="table"   >
 <tr   ><td style="text-align: center;border-top: none;  "></td></tr>
      </table>
                  
           </div>
    </div>
 </div>
<script type="text/javascript">
   $('.dian_kolh').click(function(){

     $('.zhezhac_kpl').show();
     })
  
</script>
</body>
</html>