{include file="common:tools" /}
<!-- navbar begin --> 
<div   class="navbar navbar-default" style="margin-top: -20px;height:85px" id="navbar">
 &nbsp;&nbsp; &nbsp;&nbsp;
 <h2 style="color:white;width: 410px;float: left;height: 83px;margin: 0;line-height: 83px;">十七书社公众号功能管理系统</h2> 
 <h4 style="float: right;padding-top: 30px;font-weight: 200">
 <div align=right >
 <label style="font-weight: 200;color:white;font-family: 黑体"> 
 <span>{$username}</span>&nbsp;&nbsp;
 <span>{$role}</span>
 </label> 
 <a style="color:white;cursor: pointer;text-decoration:none" onclick="jsConfirm('确定要退出系统吗？', '/index.php/manager/login/logout');"   target=_top>【退出】</a> 
 </h4> 
</div>
</div>
<!-- navbar end -->


