<!-- main-container begin -->
<div class="container-fluid" id="main-container"> 
  <!-- 侧栏 sidebar begin -->
    <div class="sidebar" id="sidebar">
        <!-- nav-list begin -->
        
        <ul class="nav nav-list">
            <li class="dropdown">
                <a href="#" class="top-href">
                    <i class=""></i>
                    <span class="menu-text">公众平台</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
                <ul class="submenu sublist">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/systemset/weixininterface">公众号管理</a></span>
                        </a>                               
                    </li> 
                     <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/systemset/articleList">图文信息</a></span>
                        </a>                               
                    </li>   
                     <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/systemset/keywordlist">文本信息</a></span>
                        </a>                               
                    </li>   
                     <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/systemset/menu">自定义菜单</a></span>
                        </a>                               
                    </li>   
                     <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/systemset/recover">回复设置</a></span>
                        </a>                               
                    </li>     
                </ul>
            </li>                                   
        </ul>
         <ul class="nav nav-list">
            <li class="dropdown">
                <a href="#" class="top-href" >
                    <i class=""></i>
                    <span class="menu-text">管理设置</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
                <ul class="submenu sublist">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/managerset/infoset">信息设置</a></span>
                        </a>                           
                    </li>
               
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/managerset/distributionset">分销设置</a></span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/managerset/codetemplate">推广二维码设置</a></span>
                        </a>                           
                    </li> 
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/managerset/advertisementlist">广告设置</a></span>
                        </a>                           
                    </li>                                                    
                </ul>
            </li>   
        </ul>
        <ul class="nav nav-list">
            <li class="dropdown">
                <a href="#" class="top-href" >
                    <i class=""></i>
                    <span class="menu-text">商品管理</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
                <ul class="submenu sublist">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/goods/goodscatelist">分类列表</a>
                            </span>
                        </a>                           
                    </li>
                     <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/goods/goodslist">商品列表</a>
                            </span>
                        </a>                           
                    </li>
                        <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/goods/commonlist">用户评论</a>
                            </span>
                        </a> 
                    </li>
                </ul>

            </li>   
        </ul>
        <ul class="nav nav-list">
            <li class="dropdown">
                <a href="#" class="top-href" >
                    <i class=""></i>
                    <span class="menu-text">订单管理</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
                <ul class="submenu sublist">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/order/orderlst">订单列表</a>
                            </span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/order/logisticslst">物流单</a>
                            </span>
                        </a> 
                    </li>
                </ul>
            </li>   
        </ul>
        <ul class="nav nav-list">
            <li class="dropdown">
                <a href="#" class="top-href" >
                    <i class=""></i>
                    <span class="menu-text">物流管理</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
                <ul class="submenu sublist">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/logistics/distributionlst">配送方式</a>
                            </span>
                        </a> 
                    </li>
                </ul>
            </li>   
        </ul>
        <ul class="nav nav-list">
            <li class="dropdown">
                <a href="#" class="top-href" >
                    <i class=""></i>
                    <span class="menu-text">权限管理</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
                <ul class="submenu sublist">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/admin/authslist">管理员管理</a>
                            </span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/admin/adminadd">管理员添加</a>
                            </span>
                        </a>                           
                    </li>
                </ul>
            </li>    
        </ul>
        <ul class="nav nav-list">
            <li class="dropdown">
                <a href="#" class="top-href" >
                    <i class=""></i>
                    <span class="menu-text">会员管理</span>
                    <b class="glyphicon glyphicon-chevron-down"></b>
                </a>
                <ul class="submenu sublist">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/member/memberlst">会员列表</a>
                            </span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/member/memberrelation">会员关系</a>
                            </span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/member/withdrawalrequest">提款申请</a>
                            </span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/member/twodimensionalcodes">推广二维码</a>
                            </span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/member/jifenLst">积分统计</a>
                            </span>
                        </a>                           
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-play list-ico"></span>
                            <span class="menu-text"><a href="/index.php/manager/member/allMoneyLst">账户明细</a>
                            </span>
                        </a>                           
                    </li>
                </ul>
            </li>    
        </ul>
        <!-- nav-list end -->
    </div>
</div>
    <script type="text/javascript">
    /**
     * 左侧
     */
    //查当前状态
    var top_menu = getCookie('top_menu');
    var child_menu = getCookie('child_menu');
    $(".sublist").hide();
    $(".sublist").eq(top_menu).show();
    $(".sublist").eq(top_menu).find('li').eq(child_menu).addClass("active");
    //菜单伸缩
    $(".top-href").click(function(){
      $(".sublist").hide(200);
      $(this).next(".sublist").show(200);
    });
    //子菜单点击状态
    $(".sublist li").click(function(){
        $(".sublist li").removeClass("active");
        $(this).addClass("active");
        //记录状态
        top_menu = $(".sublist").index($(this).parent());
        child_menu = $(this).index();
        setCookie('top_menu', top_menu, 1);
        setCookie('child_menu', child_menu, 1);
        //获取链接
        var link = $(this).find("a").eq(1).attr("href");
        window.location.href = link;
        return false;
    });
    </script>
    <!-- sidebar end -->
    