<footer>
<div style="height:50px; line-height:50px; clear:both;"></div>
<div class="v_nav">
	<div class="vf_nav">
		<ul>
			<li> <a onclick="change()" href="/index.php/wap/index/index">
			    <i id="test" class="{if condition="isset($con) and ($con eq 'index')"}vf_c{else/}vf_1{/if}" ></i>
			    <span id="span4" class="span1" style="color:{if condition="isset($con) and ($con eq 'index')"}red{/if};">首页cc</span></a>
			</li>
			<li> <a onclick="change1()" style='width: 50px;' href="/index.php/wap/categorys/catelist">
			    <i id="test1" class="{if condition="isset($con) and ($con eq 'categorys')"}vf_c2{else/}vf_9{/if}"></i>
			    <span id="span3" class="span1" style="color:{if condition="isset($con) and ($con eq 'categorys')"}red{/if};">全部分类</span></a>
			</li>
			<li>
			<a onclick="change2()" href="/index.php/wap/cart/index">
			   <em  id="cart_quantity" style="right:9px;"></em>
			   <i id="test2" class="{if condition="isset($con) and ($con eq 'cart')"}vf_c3{else/}vf_4{/if}"></i>
			   <span id="span2" class="span1" style="color:{if condition="isset($con) and ($con eq 'cart')"}red{/if};">购物车</span>
			   </a>
			</li>
			<li><a onclick="change3()" href="/index.php/wap/user/userInfo">
			    <i  id="test3" class="{if condition="isset($con) and ($con eq 'user')"}vf_c4{else/}vf_5{/if}"></i>
			    <span id="span1" class="span1" style="color:{if condition="isset($con) and ($con eq 'user')"}red{/if};">我的</span></a>
			</li>
		</ul>
		
	</div>
</div>
<!-- hhhhh -->
<script>
function change(){
	$("#test").attr("class","vf_c");
	$("#span4").attr("class","span2");
}
function change1(){
	$("#test1").attr("class","vf_c2");
	$("#span3").attr("class","span2");
}
function change2(){
	$("#test2").attr("class","vf_c3");
	$("#span2").attr("class","span2");
}
function change3(){
	$("#test3").attr("class","vf_c4");
	$("#span1").attr("class","span2");
}
</script>
</footer>

